h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 101%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--titel-link-color);
}
header {
  border-bottom: 1px solid #ececec;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: var(--hovers-and-logo-color);
}
.logo-w {
  color: var(--logo-w-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-w-footer {
  color: var(--bacground-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.navigation .navigation-col:hover::after,
.navigation .navigation-col:focus::after {
  transform: scale(1);
}
.cursor-fx::after {
  position: absolute;
  content: "";
  bottom: -8px;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--hovers-and-logo-color);
  border-radius: 2px;
}
.cursor::after {
  position: absolute;
  content: "";
  bottom: -8px;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--hovers-and-logo-color);
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stipes {
  position: relative;
}
.navigation {
  display: flex;
  column-gap: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  fill: currentColor;
}
.navigation-col {
  color: var(--titel-link-color);
  text-decoration: none;
}
.navigation .navigation-col {
  display: block;
  color: var(--titel-link-color);
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-col.current {
  color: var(--hovers-and-logo-color);
}
.nav-roof {
  display: flex;
  align-items: center;
}
.navigation-col:hover,
.navigation-col:focus {
  color: var(--hovers-and-logo-color);
}
.navig-adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navig-adres:hover,
.navig-adres:focus {
  fill: var(--hovers-and-logo-color);
  color: var(--hovers-and-logo-color);
}
.conta-ic {
  margin-right: 10px;
}
.conta-ic:hover,
.conta-ic:focus {
  color: var(--hovers-and-logo-color);
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
}
.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bacground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tx-footer {
  margin-bottom: 20px;
  color: var(--bacground-color);
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
}
.footer-icon-list {
  display: flex;
  column-gap: 10px;
}
.social-footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--hovers-and-logo-color);
}
.social-footer-link .social-footer-icon,
.social-footer-link .social-footer-icon {
  fill: var(--bacground-color);
}
.social-footer-link:hover,
.social-footer-link:focus {
  color: var(--hovers-and-logo-color);
}
.social-footer {
  display: flex;
  align-items: baseline;
}
.footer-soccial {
  margin-right: 70px;
}
.social-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--bacground-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hovers-and-logo-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--bacground-color);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.board {
  /* width: 1600px;
        height: 600px; */
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--board-bacground-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bordimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
}
.board-knopka {
  width: 700px;
}
.zagolovok {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--address-bord-color);
}
.knopka {
  cursor: pointer;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--logo-plus-color);
  background: var(--hovers-and-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.knopka:hover,
.knopka:focus {
  background-color: var(--hovers-and-logo-color);
  color: var(--address-bord-color);
  background: var(--bacground-color-knopka);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio-pic-back {
  width: 370px;
  background: var(--bacground-color);
  border: 1px solid var(--border-portfolio-pic);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.us-tx {
  padding-top: 94px;
}
.description-tx {
  display: flex;
  gap: 30px;
}
.box-svg {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--another-bacground-color);
  border-radius: 4px;
  column-gap: 30px;
}
.box-client {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.us-clients {
  display: flex;
  column-gap: 30px;
}
.box-client:hover,
.box-client:focus {
  border-color: var(--hovers-and-logo-color);
  fill: var(--hovers-and-logo-color);
}

.clients-work {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}
.klient {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  color: var(--titel-link-color);
}
.list-description {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}
.what-we-do {
  padding-top: 94px;
}
.what-img {
  position: relative;
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding-bottom: 94px;
}
.what-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  top: 224px;
}
.what-tx {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--bacground-color);
}
.list-images-work {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--titel-link-color);
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
}
.our-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--bacground-color-advantages);
}
.team-work {
  text-align: center;
}
.profi {
  display: flex;
  gap: 30px;
}
.about-team-back {
  width: 270px;
}
.our-advantages .about-team-back {
  background: var(--bacground-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-staff {
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--titel-link-color);
  margin-bottom: 10px;
}
.about-staff {
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--p-text-color);
  margin-bottom: 16px;
}
.name-kenty {
  display: block;
  text-align: center;
  padding: 30px;
}
.footer-adr {
  display: flex;
}
.web-footer {
  /* width: 1600px;
        height: 600px; */
  background-color: var(--board-bacground-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.adress {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  color: var(--address-bord-color);
  letter-spacing: 0.03em;
  text-decoration: none;
}
address {
  margin-top: 20px;
}
ul {
  list-style: none;
}
.adre-s:not(:last-child) {
  margin-bottom: 9px;
}
.button-portfolio:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  height: 38px;
  border-radius: 4px;
  background-color: var(--botton-colors-portfolio);
  margin-right: 8px;
  padding: 6px 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--hovers-and-logo-color);
  color: var(--address-bord-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-tx {
  color: var(--address-bord-color);
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
}
.img-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}
.portfolink {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolink:hover .overlay,
.portfolink:focus .overlay {
  transform: translateY(0%);
}
.portfolink:hover,
.portfolink:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.buttons-portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.geo-port-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}
.pic-port {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.pot-tx {
  padding: 20px 24px;
}
.list-portfolio {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--titel-link-color);
}
.list-portfolio-hide {
  font-size: 16px;
  line-height: 2.2;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease, visibility 250ms ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  padding: 40px 40px;
  background-color: var(--bacground-color);
}
.knopka-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  left: auto;
  top: 8px;
  right: 8px;
}
.knopka-modal:hover,
.knopka-modal:focus {
  fill: var(--hovers-and-logo-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--titel-link-color);
}
.modal-lab {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.di-imp-mod {
  display: block;
  position: relative;
}
.modal-icon {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(75%, 75%);
}
.modal-name {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--contacts-link-color);
  margin-bottom: 4px;
}
.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
}
.input-modal:focus {
  border-color: var(--hovers-and-logo-color);
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus + .modal-icon {
  fill: var(--hovers-and-logo-color);
  color: var(--hovers-and-logo-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: inherit;
}
.modal-comments:focus {
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments::placeholder {
  fill: rgba(117, 117, 117, 0.05);
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: inherit;
}
.modal-check {
  appearance: none;
  position: absolute;
}
.checkbox-modal {
  display: flex;
  width: 16px;
  height: 15px;
  border: 1px solid;
  border-radius: 2px;
  color: var(--titel-link-color);
  cursor: pointer;
  margin-right: 10px;
}
.ico-hide-checkbox {
  display: none;
}
.modal-check:checked + .checkbox-modal {
  background-color: var(--hovers-and-logo-color);
  border: none;
}
.modal-check:checked + .checkbox-modal .ico-hide-checkbox {
  display: block;
  fill: var(--bacground-color);
}
.modal-check:focus + .checkbox-modal {
  box-shadow: 0 0 0 2px var(--hovers-and-logo-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aga-konechno {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--hovers-and-logo-color);
}
.modal-check-field {
  display: flex;
  align-items: center;
}
.button-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: inherit;
  font-weight: 700;
  color: var(--bacground-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  width: 200px;
  height: 50px;
  background-color: var(--hovers-and-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  margin-top: 30px;
}
.button-modal:hover,
.button-modal:focus {
  background-color: var(--bacground-color-knopka);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer {
  margin-left: auto;
}
.footer-mg {
  margin-right: 93px;
}
.footer-input {
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
.footer-button {
  background: var(--hovers-and-logo-color);
  color: var(--bacground-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
}
.ico-m {
  margin-left: 10px;
}
