.what-we-do {
    padding-top: 94px;
}

.what-img {
    position: relative;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding-bottom: 94px;
}

.what-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    top: 224px;
}

.what-tx {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--bacground-color);
}
.list-images-work {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--titel-link-color);
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
}