.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    color: var(--hovers-and-logo-color);
}

.logo-w {
    color: var(--logo-w-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-w-footer {
    color: var(--bacground-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;
}