.pot-tx {
    padding: 20px 24px;
}
.list-portfolio {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
    color: var(--titel-link-color);
}

.list-portfolio-hide {
    font-size: 16px;
    line-height: 2.2;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;
    color: var(--contacts-link-color);
}
.portfolio-pic-back {
    width: 370px;
    background: var(--bacground-color);
    border: 1px solid var(--border-portfolio-pic);
}
